.service {
    display: grid;
    place-items: center;
    align-items: center;
    grid-template-columns: 1fr;
    @include lg {
        display: flex !important;
        justify-content: center;
        //  align-items: center;
        
    }
    .bottom1 {
        display: grid;
        place-items: center;
        width: 200px;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
     //   border: 3px solid black;
       
        // align-items: center;
        // grid-template-columns: 1fr;
        .link {
            text-align: center;
            position: relative;
            height: 36px;
            width: 36px;
            @include content-center;
            @include default-colors;
            border-radius: 50%;
            text-decoration: none;
            box-shadow: 0 0 5px 2px $color-shadow-1;
            margin-left: 1rem;
            transition: background-color 0.25s, color 0.20s;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            &:hover,
            &.active {
                @include dark-colors;
                text-decoration: none;
                

                }
                
            }
            .miniparagraf{
                @include default-colors;
               // border: 3px solid black;
                @include font-title-4;
                
            }
        }
        
    }
    
